{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-lg-6">
            <h1 class="mb-4">Edit Ride Request</h1>
            <div class="card">
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button type="submit" class="btn btn-primary mt-3">Update Request</button>
                        <a href="{% url 'my_ride_requests' %}" class="btn btn-secondary mt-3 ms-2">Cancel Edit</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
